## =========================
## Visual Studio
## =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## =========================
## Build outputs
## =========================
bin/
obj/
[Bb]uild/
[Bb]in/
[Oo]bj/

## =========================
## ASP.NET Core
## =========================
appsettings.Development.json
appsettings.Local.json

## =========================
## Logs
## =========================
*.log

## =========================
## Rider / VS Code
## =========================
.idea/
.vscode/

## =========================
## OS files
## =========================
.DS_Store
Thumbs.db

## =========================
## Test Results
## =========================
TestResults/

## =========================
## NuGet
## =========================
packages/
*.nupkg
*.snupkg

## =========================
## Publish outputs
## =========================
publish/
